<div *ngIf="user">
    <div *ngIf="isEditing === true">
        <input [(ngModel)]="editedUser.name" type="text" placeholder="name">
        <input [(ngModel)]="editedUser.age" type="number">
        <input [(ngModel)]="editedUser.city" type="text" placeholder="city">
        <button (click)="toggleEditing()">cancel</button>
        <button (click)="editUser()">save</button>
        <button (click)="goBack()">back</button>

    </div>
    <div *ngIf="isEditing === false">
        <h2>user details</h2>
        <h4>id: {{user.id}}</h4>
        <h4>name: {{user.name}}</h4>
        <h4>age: {{user.age}}</h4>
        <h4>city: {{user.city}}</h4>
        <button (click)="deleteUser(user)">delete</button>
        <button (click)="toggleEditing()">edit</button>
        <button (click)="goBack()">back</button>
    </div>
</div>